{% extends "base.html" %}

{% block title %}
Home - Flask-O-shop
{% endblock %}

{% block content %}
{% with msgs = get_flashed_messages(with_categories=True) %}
{% for c, msg in msgs %}
{% if c == 'error' %}
<div class="flash-error">
	{% else %}
	<div class="success">
		{% endif %}
		{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	{% if search %}
	<h3>Search results for "{{ query }}":</h3>
	{% else %}
	<div style="display:flex; align-items: flex-start;">
		<!-- Sidebar -->
		<style>
			.sidebar h2 {
				font-size: 18px;
				color: #333;
				margin-bottom: 20px;
			}

			.category-list {
				width: 100%;
				padding: 0px;
			}

			.category-item {
				width: 100%;
				display: flex;
				align-items: center;
				padding: 10px 5px;
				transition: background-color 0.3s;
				border-radius: 10px;
			}

			.category-item:last-child {
				border-bottom: none;
			}

			.category-item:hover {
				background-color: #f5f5f5;
			}

			.category-item .icon {
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}

			.category-item span {
				font-size: 16px;
				color: #555;
			}

			.sidebar.fixed {
				position: fixed;
				top: 10px;
				/* Adjusted to add a margin from the top */
			}
		</style>
		<script>
			window.addEventListener('scroll', function () {
				const navbar = document.querySelector('.navbar'); // Select your navbar element
				const sidebar = document.querySelector('.sidebar'); // Select your sidebar element

				const navbarHeight = navbar.offsetHeight; // Get the navbar height
				const scrollPosition = window.scrollY; // Get the current scroll position

				// Add or remove 'fixed' class based on scroll position
				if (scrollPosition > navbarHeight) {
					sidebar.classList.add('fixed');
				} else {
					sidebar.classList.remove('fixed');
				}
			});
		</script>
		<script>
			// Function to fetch the image URL from the API and set it as the src of the img tag
			async function setImageSrc() {
				try {
					// Replace 'your-api-endpoint' with your actual API URL
					const response = await fetch('https://pixabay.com/api/?key=47027767-3ad9a6c19ac6036a4d30f5206&q=apple&image_type=photo');
					const data = await response.json();

					// Assuming 'X' is the attribute containing the image URL in the JSON response
					const imageUrl = data.hits[0].previewURL;
					console.log(imageUrl)
					// Set the image URL to the img tag's src attribute
					document.getElementById('category1').src = imageUrl;
				} catch (error) {
					console.error('Error fetching image URL:', error);
				}
			}

			// Call the function to set the image src
			setImageSrc();
		</script>
		<div class="sidebar"
			style="width: 250px; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);margin: 0px 20px; position: sticky;">
			<h2>Category</h2>
			<ul class="category-list">
				<li class="category-item">
					<img id="category1" alt="Book Icon" class="icon" style="border-radius: 5px;">
					<span>Computer</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Pot Icon" class="icon">
					<span>Accessories</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Phone Icon" class="icon">
					<span>Health and Beauty</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Toy Icon" class="icon">
					<span>Toy</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Headphone Icon" class="icon">
					<span>Baby</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Beauty Icon" class="icon">
					<span>Food and Drinks</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Bike Icon" class="icon">
					<span>Ô Tô - Xe Máy - Xe Đạp</span>
				</li>
				<li class="category-item">
					<img src="../static/img/category.png" alt="Fashion Icon" class="icon">
					<span>Fashion</span>
				</li>
			</ul>
		</div>

		<div class="itemscontainer"
			style="flex-grow: 1; border-radius: 10px; background: white; margin-right: 10px; padding: 10px;">
			<h3>New Arrivals</h3>
			<br>
			<div class="items">
				{% for item in items[::-1] %}

				<a href="{{ url_for('item', id=item.id) }}">
					<div class="item">
						<div class="item-wrapper">
							<div class="img-wrapper">
								<img src="{{ item.image }}" class="pic">
							</div>
							{{ item.name }}
							<span class="right-item">${{ item.price }}</span><br>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<span class="text-muted">({{ range(1, 51) | random }})</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>

			<br><br>
			<h3>Most Popular</h3>
			{% endif %}
			<br>
			<div class="items">
				{% for item in items %}
				<a href="{{ url_for('item', id=item.id) }}">
					<div class="item">
						<div class="item-wrapper">
							<div class="img-wrapper">
								<img src="{{ item.image }}" class="pic">
							</div>
							{{ item.name }}
							<span class="right-item">${{ item.price }}</span><br>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<i class="fa fa-star checked"></i>
							<span class="text-muted">({{ range(1, 51) | random }})</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>

		</div>
	</div>



	{% if not items %}
	<div class="flash-error">
		No items found.<br>
		<a href="{{ url_for('home') }}">Discover new items</a>
	</div>
	{% endif %}
	{% endblock %}