{% extends "base.html" %}

{% block title %}
	Login - Ecom-Olist
{% endblock %}

{% block content %}
	<style>     
        .login-container {
            background-color: white;
            width: 350px;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            text-align: center;
            justify-content: center;
        }

        .ecom-logo img {
            width: 120px;
          
        }

        .login-container h2 {
            font-size: 24px;
            margin-bottom: 15px;
            color: #333;
        }

        .login-container label {
            display: block;
            font-size: 14px;
            text-align: left;
            margin-bottom: 5px;
            color: #333;
        }

        .login-container input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-sizing: border-box;
            outline: none; /* Xóa viền outline mặc định */
        }

        /* Thêm hiệu ứng khi input được focus */
        .login-container input[type="text"]:focus {
            border-color: #0073e6; /* Màu viền xanh khi nhấp vào ô text */
            box-shadow: 0 0 3px #0073e6; /* Tạo hiệu ứng bóng mờ xanh nhạt xung quanh */
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #FF728F;
            border: 1px solid #a78a40;
            border-radius: 3px;
            color: #111;
            font-weight: bold;
            cursor: pointer;
        }

        .login-container p {
            font-size: 12px;
            color: #666;
            margin-top: 10px;
        }

        .login-container a {
            color: #0066c0;
            text-decoration: none;
        }

        .login-container .divider {
            margin: 15px 0;
            border-bottom: 1px solid #ddd;
        }

        .create-account {
            margin-top: 20px;
        }

        .create-account button {
            width: 100%;
            padding: 10px;
            background-color: #e7e9ec;
            border: 1px solid #888;
            border-radius: 3px;
            color: #111;
            cursor: pointer;
        }
        .text-center {
            text-align: center;
            font-size: 1em;
            margin-bottom: 1em;
        }

        .flash-error {
            color: red;
            font-weight: bold;
        }

        .success {
            color: green;
            font-weight: bold;
        }
        .google-login-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            background-color: white;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .google-login-btn img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
	</style>
    <div class = "login-control" style = "display: flex; height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;">
     <div class = "login-container">
        <div class = "ecom-logo">
            <img src = "../static/img/logo.png" alt = "Ecom Logo">
        </div>
        <h2 class="text-center"> SIGN IN </h2>
        <hr>
        {% with msgs =  get_flashed_messages(with_categories=True) %}
            {% for c, msg in msgs %}
                {% if c == 'error' %}
                    <div class="flash-error">
                {% else %}
                    <div class="success">
                {% endif %}
                    {{ msg | safe }}</div><br>
            {% endfor %}
        {% endwith %}
        <form method="POST" action="login">
            {{ form.hidden_tag() }}
            
            <div>
                {{ form.email.label }}
                {{ form.email(size=32, class_="form-control") }}
            </div>

            <div>
                {{ form.password.label }}
                {{ form.password(size=32, class_="form-control") }}
            </div>
             <br>   
            <div>
                <button type="submit">Log In</button>
            </div>
            <p>By continuing, you agree to Ecom-Olist's <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice</a>.</p>
            <a href="{{ url_for('reset_password_request') }}">Forgot password?</a>
        </form>

            <div class="divider"></div>

            <div class="create-account">
                <p>New to Ecom-olist? <a href ='{{url_for('register')}}'>Sign up</a></p>
                
            </div>
            <a href="{{ url_for('google.login') }}" class="google-login-btn">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                </svg>
                 Login with Google
            </a>

    </div>
    </div>
    </div>
   
	<script>
        function goToRegister() {
          window.location.href = "{{ url_for('register') }}";
        }
      </script>
{% endblock %}